.logo {
	margin: 0 auto;
	padding: 20px;
}

.jumbotron {
	padding: 15px;
}

.jumbotron h1, .jumbotron .h1 {
	font-size: 3.0em;
}

@media screen and (max-width: 767px) {
   .jumbotron h1, .jumbotron .h1 {
      text-align: center;
			font-size: 2.0em;	
   }
}

h2 {
	color: #E0172C;
}